<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header">
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="Logo">
    </div>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/user/list}">Users</a></li>
            <li><a th:href="@{/invoice/list}">Invoices</a></li>
            <li><a th:href="@{/payment/report}">Payments</a></li>
            <li><a th:href="@{/category/list}">Categories</a></li>
        </ul>
    </nav>
</header>
</body>
</html>